<!DOCTYPE html>
<html>
<head>
    <title>Customer_table</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>

<div ng-app="customerModule" ng-controller="customersCtrl">

    <table>
        <tr ng-repeat="x in myData">
            <td>{{$index+1}}</td>
            <td ng-if="$odd" style="background-color:#f1f1f1">
                {{ x.Name }}</td>
            <td ng-if="$even">
                {{ x.Name }}</td>
            <td ng-if="$odd" style="background-color:#f1f1f1">
                {{ x.Country }}</td>
            <td ng-if="$even">
                {{ x.Country }}</td>
        </tr>
    </table>

</div>

<script>
var app = angular.module('customerModule', []);
app.controller('customersCtrl', function($scope, $http) {
  $http.get("customers.php").then(function (response) {
      $scope.myData = response.data.records;
  });
});
</script>
</body>

</html>
