<!Doctype html>
<html ng-app="store" ng-controller="StoreController as store">
   <head>
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
       <link rel="stylesheet" type="text/css" href="css/style.css">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
       <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
       <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
   </head>
   <body>
   <header>
       <h1>Online Store</h1>
   </header>
   <section>
       <ul class="nav navbar-nav navbar-right">
           <li><a href="#/first">Home</a></li>
           <li><a href="#/second">Product</a></li>
           <li><a href="#/contact">Contact</a></li>

       </ul>
   </section>
   <div class="row">
       <div class="col-md-12">
          <form class="form-inline well well-sm">
               <span class="glyphicon glyphicon-search "></span>
              <div class="form-group">
                  <input type="text" class="form-control" id="name" placeholder="Search product..." ng-model="search.$"> <!-- $ permite sa caut dupa orice atribut-->
              </div>
       </div>
           </form>
    </div>
   <div class="container">
       <div ng-view></div>
   </div>
   <section ng-controller = "shoppingCart" >
       <div ng-repeat="product in store.products | filter:search"  > <!-- filter:search cauta dupa toate artibutele lui search specificate in input-->
           <h1>{{product.name}}</h1>
           <h2>{{product.price | currency}}</h2>
           <p>{{product.description}}</p>
           <input type = "submit" value = "Add" ng-show="product.canPurchase"  ng-click = "addToCart(product)" />
           <div ng-show="cart.length" class="shopping-cart" >
               <h2> items in cart, {{getCartPrice()}}$</h2>
			<span class="cart-item th radius" ng-repeat="product in cart">
				<span class="badge" ng-show="product.quantity">
					x{{product.quantity}}
				</span>
			</span>
               <div ng-controller="CheckoutCtrl">
                   <button type="submit"  id="check">CheckOut</button>
               </div>
           </div>
       </div>
     </section>
       <div>
           <ul class="list-group" id="products">
               <li class="list-group-item" ng-repeat="product in store.products">
                   <h3>
                       <product-title>
                            *list products might not be valid
                       </product-title>   <!--custom directive-->
                   </h3>
                  <product-panels></product-panels>
               </li>
           </ul>
       </div>

  </body>
   <script type="text/javascript" src="js/angular.min.js"></script>
   <script type="text/javascript" src="js/angular-route.min.js"></script>
   <script type="text/javascript" src="js/angular-resource.min.js"></script>
   <script type="text/javascript" src="js/app_route.js"></script>
   <script type="text/javascript" src="js/app.js"></script>
   <script type="text/javascript" src="js/products.js"></script>
   <script type="text/javascript" src="js/angular-modal-service.js"></script>
</html>