.ng-invalid.ng-dirty
{
 border-color:#FA787E;
}
.ng-valid.ng-dirty
{
 border-color:#78FA89;
}
.form-control
{
     width: 16%;
     margin-left:20px;
}
.ng-scope {
  margin-left: 20px;
  margin-right: 20px;
}
.list-group {
  margin-top: 10px;
}